//- SVG icon
mixin icon(name)
	svg(class="icon icon--" + name)
		use(xlink:href="img/svg-sprite.svg#" + name)


//- input
mixin input(type, name, dataName, placeholder, required)
	.input-wrap
		input(type=type, name=name, data-name=dataName, placeholder=placeholder, required=required)


//- textarea
mixin textarea(name, dataName, placeholder, required)
	.input-wrap
		textarea(name=name, data-name=dataName, cols="30", rows="1" placeholder=placeholder, required=required)

mixin productItem(img, btnName, colModify, dataId, title)
	.custom-col(class="custom-col--" + colModify)
		.b-product-item
			._img-wrap
				if colModify == 'small'
					img._img.lazy(src="img/thumbs/dummy-image-270x340.gif", data-src=img, alt=title, title=title)
				else if colModify == 'big'
					img._img.lazy(src="img/thumbs/dummy-image-360x260.gif", data-src=img, alt=title, title=title)
			a.b-trs-btn.-small._link.js-more-popup(href="#product", data-Id=dataId) !{btnName}

mixin productItemModified(img, btnName, colModify, itemModify, dataId, title, type)
	.custom-col(class="custom-col--" + colModify)
		.b-product-item(class="product-item--" + itemModify)
			._img-wrap
				if colModify == 'small'
					img._img.lazy(src="img/thumbs/dummy-image-270x340.gif", data-src=img, alt=title, title=title)
				else
					img._img.lazy(src="img/thumbs/dummy-image-360x260.gif", data-src=img, alt=title, title=title)
			if itemModify == 'inventory' || type == 'simple'
				a.b-trs-btn.-small._link.js-more-title-popup(href="#request") !{btnName}
			else
				a.b-trs-btn.-small._link.js-more-popup(href="#product", data-Id=dataId) !{btnName}

mixin productItemHover(img, hoverImg, btnName, colModify, itemModify, title)
	.custom-col(class="custom-col--" + colModify)
		.b-product-item(class="product-item--" + itemModify)
			._wrap
				if colModify == 'small'
					._img-wrap
						img._img.lazy(src="img/thumbs/dummy-image-270x340.gif", data-src=img, alt=title, title=title)
					._img-wrap(class='product-item__img-wrap--' + itemModify)
						img._img.lazy(src="img/thumbs/dummy-image-270x340.gif", data-src=hoverImg, alt=btnName, title=btnName)
				else
					._img-wrap
						img._img.lazy(src="img/thumbs/dummy-image-360x260.gif", data-src=img, alt=title, title=title)
					._img-wrap(class='product-item__img-wrap--' + itemModify)
						img._img.lazy(src="img/thumbs/dummy-image-360x260.gif", data-src=hoverImg, alt=btnName, title=btnName)
			a.b-trs-btn.-small._link.js-more-title-popup(href="#request") !{btnName}
